<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5le ${PID:- } [%t] --- %lo : %m%n%ex"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>${LOG_PATTERN}</pattern>
	    </encoder>
  	</appender>

	<root level="ERROR">
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
